@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url("/css/fonts.css");

//Main setup
$width: 1200px;
$fontSize: 18px;
$orange: #EE7B0D;
$green: #038C38;
$grey: #9B9B9A;

body, header, main, footer, div, p, h1, h2, h3, figure, figcaption, a  
{
	font-size: $fontSize;
	font-family: 'Open Sans', Arial, Impact;
}

ul, li
{
	//list-style: none;
	margin: 0;
	padding: 0;
}

*
{
	box-sizing: border-box;
}
