@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url("/css/fonts.css");

//Main setup
$width: 1200px;
$fontSize: 18px;
$orange: #EE7B0D;

// Header
$colorTextLogo: #1a2755;
$colorBackgroundHeader: #fcfcfc;

//Header nav
$colorTextNav: #3b5998;
$colorBackgroundNav: #3b5998;
$colorBorderNav: #3b5998;

// Section
$fontSizeHeader: 30px;

body, header, main, footer, div, p, h1, h2, h3, figure, figcaption, a  
{
	font-size: $fontSize;
	font-family: 'Open Sans', Arial, Impact;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}



*
{
	box-sizing: border-box;
}

