@import "includes/settings";

body,
.header,
.header_nav,
.currency,
.header_nav_menu,
.menu_currency,
.user_corner,
.wr_search_tel,
.wr_cart_feedback,
.tel,
.cart,
.feedback,
.wr_tel_menu,
.wr_card_products,
.wr_section_1,
.section_2,
.head_popular_products,
.footer
{
	display: flex;
}

body,
.header
{
	flex-wrap: wrap;
}

body
{
	justify-content: center;
}

.header,
.wr_section_1,
.section_2,
.desc
{
	width: $width;
}

/* Header */

.header
{
	justify-content: space-between;
}

.img_logo
{
	padding-bottom: 6px;
}

/*Style hedear nav menu*/
.header_nav_menu
{
	align-items: flex-end;

	li
	{
		padding: 0 10px;
	}

	li a
	{
		font-size: 19px;
		color: #000;
		text-transform: uppercase;

		padding: 0;

		&:hover
		{
			color: $orange;
			background-color: initial;
		}
	}
}
/*End Style hedear nav menu*/

/*Style Currency menu*/
.menu_currency
{
	align-items: flex-end;

	li
	{
		padding: 0 3px;
	}

	li a
	{
		font-size: 20px;
		color: #000;

		padding: 0;

		&:hover
		{
			color: $orange;
			background-color: initial;
		}
	}
}
/*End Style Currency menu*/

/* Style User Corner*/
.user_corner
{
	min-width: 267px;
	justify-content: space-between;
}

.wr_search_tel 
{
	flex-direction: column;
	justify-content: space-between;

	padding-top: 5px;
}

.search 
{
	max-width: 150px;

	background: #EEE;
	border-radius: 10px;

	input
	{	
		max-width: 125px;
		background: #EEE;
		border: none;
		border-radius: 10px;
	    padding: 5px;
	}

	span
	{
		padding-right: 7px;
	}
}

.wr_tel_menu
{
	align-items: flex-end;
}

.tel
{
	flex-direction: column;

	a
	{
		font-size: 17px;
	}
}

/*Menu Mobile*/

.menu_mobile
{
	display: none;
}

.glyphicon-menu-hamburger
{
	font-size: 34px;

	border: 1px solid $orange;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;

	&:hover
	{
		cursor: pointer;
		color: #FF9E15;
	}
}
/*End Menu Mobile*/


.wr_cart_feedback 
{
	flex-direction: column;
	justify-content: space-between;

	padding: 5px 0;

	p 
	{
		font-size: 11px;
		margin: 0;
	}
}

.cart
{
	flex-direction: row;
	justify-content: center;
	width: 85px;

	background: $orange;

	border-radius: 15px;	
	
	i
	{
		font-size: 29px;
		color: #FFF;

		margin-left: -4px;
	    margin-top: 6px;
	    font-size: 29px;
	    padding: 1px;
	}

	p
	{
		width: 46px;
		
		text-align: right;
		color: #FFF;
		line-height: 13px;

		margin-left: -4px;
    	margin-top: 10px;
    	margin-bottom: 4px;
	
		span
		{
			font-size: 24px;
		}
	}
}

.feedback
{
	flex-direction: row;
	justify-content: center;
	max-width: 85px;

	background: #038C38;

	border-radius: 15px;	
	
	i
	{
		font-size: 29px;
		color: #FFF;

		margin-left: 0px;
	    margin-top: 8px;
	    font-size: 29px;
	    padding: 1px;
	}

	p
	{
		width: 53px;
		
		text-align: right;
		color: #FFF;
		line-height: 13px;

		margin-left: -10px;
    	margin-top: 10px;
    	margin-bottom: 9px;
	
		span
		{
			font-size: 24px;
		}
	}
}
/* End Style User Corner*/
/* End Header */

h1
{
	font-size: 46px;
	color: $orange;
	text-align: center;

	padding: 40px 0;
}

/*Description Category*/
.desc
{
	background: $orange;
	color: #FFF;
	text-align: center;

	h2
	{	
		font-size: 21px;
	}

	p
	{
		font-size: 19px;
		padding-bottom: 40px;
	}

}

/*End Description Category*/


/*Slide*/
.wr_slide
{
	background: #ADADAD;
}

.carousel-indicators
{
	li
	{
		border: 1px solid $orange;
	}

	.active
	{
		background: $orange;
	}
}

.carousel-caption
{
	max-width: 210px;

	p
	{
		background: $orange;

		padding: 20px 0;

		a
		{
			font-size: 18px;
			font-weight: 600;
			color: #FFF;
			text-transform: uppercase;
			text-shadow: none;
		}
	}
}

/*End Slide*/

/*Style Section #1*/
.wr_section_1
{
	flex-wrap: wrap;
	justify-content: space-around;
}

.section_1
{

	border: 1px solid #eee;
	margin-top: 60px;
	margin-right: 1px;
	h2
	{
		font-size: 31px;
		color: #FFF;
		text-align: center;
		text-transform: uppercase;

		background: url(../img/bgarrowdown.svg) no-repeat;
		background-size: 100% 100%;

		padding: 15px 10px 25px;
		margin-top: -26px;
	}

	ul
	{
		padding: 0 15px;

		li
		{
			display: block;
			text-align: center;
			margin: 0;

			a
			{
				font-size: 20px;
				color: $orange;
				text-transform: uppercase;

				border: 1px solid $orange;
				border-radius: 10px;
				padding: 5px 0;

				&:hover
				{
					color: #FFF;
					background: $orange;
				}
			}
		}
	}

	p
	{
		font-size: 19px;
		text-align: center;

		padding: 30px 28px 15px;
	}
}

.marg_right
{
	margin-right: 5px;
}

.wr_card_products
{
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 10px;

	// &.popular_products
	// {
	// 	flex-wrap: nowrap;
	// }
}

.item,
.carousel-inner
{
	padding: 0;
}

.item .card_product
{
	margin: 0 0 5px;
}

.card_product
{
	max-width: 230px;
	border: 1px solid #eee;
	text-align: center;

	padding: 0;
	margin-bottom: 5px;
	margin: 0 5px 5px;

	h3
	{
		font-size: 25px;
		font-weight: 600;

	}

	p
	{
		font-size: 40px;
		color: $orange;

		padding: 0;
	}

	// Path of Section2
	.popular_products &
	{
		max-width: 185px;
		

		h3
		{
			font-size: 20px;
		}

		p
		{
			font-size: 46px;
		}
	}
}
/*End Style Section #1*/

/*Style Section #2*/
.section_2
{
	margin-top: 45px;
}

/*Left Menu*/
.wr_leftMenu_filter
{
	padding: 0;
}

.left_menu
{
	margin-bottom: 60px;

	ul
	{
		li
		{
			a
			{
				font-size: 18px;
				color: #000;
			}

			ul
			{
				padding-left: 15px;
			}
		}
	}
}
/*End Left Menu*/

/*Filters*/
.filters
{
	color: #7C7C7B;
	h4
	{
		font-size: 19px;
		font-weight: 600;
	}

	form
	{
		p
		{
			margin-top: 5px;
			margin-bottom: 5px;
		}

		label
		{
			font-size: 14px;

			margin-right: 5px;

			input
			{
				width: 40px;
				height: 16px;
				font-size: 8px;
				vertical-align: text-top;
			
			    margin-left: 5px;
			}
		}
	}
}
/*End Filters*/

.head_popular_products
{
	flex-direction: column;
	margin: auto 0;

	h2
	{
		font-size: 21px;
		color: #FFF;
		text-align: center;

		background: url(../img/bgarrowright.svg) no-repeat;
		background-size: 100% 100%;
		background-position: 50% 50%;
		
		padding: 12px;
		margin-top: 0; 
	}

	p
	{
		font-size: 19px;
		text-align: center;
		line-height: 18px;

		margin-bottom: 0;
	}
}

.load_more
{
	font-size: 20px;
}

.next_products_menu
{
	display: flex;
	justify-content: center;

	font-size: 20px;
}

/*End Style Section #2*/

/* Footer */
.wr_footer
{
	background-color: #1D1D1B;

	margin-top: 165px;
}

.img_logo_footer
{
	margin: -76px auto 0;
}

.footer
{
	max-width: $width;
	justify-content: space-between;

	margin: 0 auto;
	padding: 100px 10px;

	address
	{
		padding: 0;
	}

	ul
	{
		li
		{
			font-size: 18px;
			color: #fff;
			
			padding: 5px;

			a
			{
				font-size: 18px;
				color: #fff;

				padding: 0;

				&:hover
				{
					color: #FF9E15;
					background-color: transparent;
				}

				&:link
				{
					background-color: transparent;
				}
			}
		}
	}
}

.icon-hs-facebook
{
	font-size: 50px;
	color: #EE7B0D;
	background-color: #fff;

	border-radius: 25px;
}
/*End Footer*/

/* Media for screen from 768 to 992 */
@media (max-width: 992px)
{
	body
	{
		background: ghostwhite;	
	}

	.header_nav_menu
	{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
	}

	/*Style Section #1*/
	.section_1
	{
		ul
		{
			li
			{
				margin-bottom: 10px;

				&:last-child
				{
				margin-bottom: 0;
				}

				a
				{
					font-size: 14px;
				}
			}
		}
	}
	/*End Style Section #1*/
	/*Style Section #2*/
	.head_popular_products
	{
		h2
		{
			font-size: 14px;
		}
		p
		{
			font-size: 16px;
		}
	}

	/*Left Menu*/
	.left_menu
	{
		ul
		{
			li
			{
				a
				{
					font-size: 14px;
				}
			}
		}
	}
	/*End Left Menu*/
	/*End Section #2*/
	
}
/* End Media for screen from 768 to 992 */
/* Media for screen from 481 to 768 */
@media (max-width: 768px)
{
	body
	{
		background: aliceblue;	
	}

	.header_nav,
	.currency
	{
		display: none;
	}

	/*Menu Mobile*/
	.menu_mobile
	{
		display: flex;
	}

	.glyphicon-menu-hamburger
	{
		margin-left: 12px;
	}
	/*End Menu Mobile*/	

	/*Slide*/
	.carousel-caption
	{
		max-width: 170px;

		p
		{
			background: $orange;

			padding: 7px 0;

			a
			{
				font-size: 16px;
			}
		}
	}
	/*End Slide*/

	.card_product
	{
		// Path of Section2
		.popular_products &
		{
			max-width: 126px;
		}
	}

	/*Left Menu*/
	.left_menu
	{
		ul
		{
			li
			{
				a
				{
					font-size: 13px;
				}
			}
		}
	}
	/*End Left Menu*/

	/*Footer*/
	.footer
	{
		ul
		{
			li
			{
				font-size: 14px;

				a
				{
					font-size: 14px;
				}
			}
		}
	}
	/*End Footer*/
}
/* End Media for screen from 481 to 768 */
/* Media for screen to 480 */
@media (max-width: 480px)
{
	body
	{
		background: aliceblue;	
	}

	.user_corner
	{
		min-width: 155px;
	}

	.search,
	.tel
	{
		display: none;
	}

	/*Description Section*/
	.desc
	{
		p
		{
			font-size: 16px;
		}

	}
	/*End Description Section*/

	.card_product
	{
		// Path of Section2
		.popular_products &
		{
			max-width: 96px;

			h3
			{
				font-size: 16px;
			}

			p
			{
				font-size: 30px;
			}
		}
	}

	/*Style Section #2*/
	.head_popular_products
	{
		h2
		{
			font-size: 14px;
		}

		p
		{
			font-size: 12px;
		}
	}

	/*Left Menu*/
	.left_menu
	{
		ul
		{
			li
			{
				a
				{
					font-size: 11px;
				}
			}
		}
	}
	/*End Left Menu*/
	/*End Section #2*/

	/*Footer*/
	.footer
	{
		flex-direction: column;
	}

	.wr_nav3
	{
		margin-top: 10px; 
	}
	/*End Footet*/
}
/* End Media for screen to 480 */