@import "includes/settings";

body,
.header,
.header_nav,
.currency,
.header_nav_menu,
.menu_currency,
.user_corner,
.wr_search_tel,
.wr_cart_feedback,
.tel,
.cart,
.feedback,
.wr_tel_menu
{
	display: flex;
}

body,
.header
{
	flex-wrap: wrap;
}

body
{
	justify-content: center;
}

/* Header */

.header
{
	justify-content: space-between;
	width: $width;
}

.img_logo
{
	padding-bottom: 6px;
}

/*Style hedear nav menu*/
.header_nav_menu
{
	align-items: flex-end;

	li
	{
		padding: 0 10px;
	}

	li a
	{
		font-size: 19px;
		color: #000;
		text-transform: uppercase;

		padding: 0;

		&:hover
		{
			color: $orange;
			background-color: initial;
		}
	}
}
/*End Style hedear nav menu*/

/*Style Currency menu*/
.menu_currency
{
	align-items: flex-end;

	li
	{
		padding: 0 3px;
	}

	li a
	{
		font-size: 20px;
		color: #000;

		padding: 0;

		&:hover
		{
			color: $orange;
			background-color: initial;
		}
	}
}
/*End Style Currency menu*/

/* Style User Corner*/
.user_corner
{
	min-width: 267px;
	justify-content: space-between;
}

.wr_search_tel 
{
	flex-direction: column;
	justify-content: space-between;

	padding-top: 5px;
}

.search 
{
	max-width: 150px;

	background: #EEE;
	border-radius: 10px;

	input
	{	
		max-width: 125px;
		background: #EEE;
		border: none;
		border-radius: 10px;
	    padding: 5px;
	}

	span
	{
		padding-right: 7px;
	}
}

.wr_tel_menu
{
	align-items: flex-end;
}

.tel
{
	flex-direction: column;

	a
	{
		font-size: 17px;
	}
}

/*Menu Mobile*/

.menu_mobile
{
	display: none;
}

.glyphicon-menu-hamburger
{
	font-size: 34px;

	border: 1px solid $orange;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;

	&:hover
	{
		cursor: pointer;
		color: #FF9E15;
	}
}
/*End Menu Mobile*/


.wr_cart_feedback 
{
	flex-direction: column;
	justify-content: space-between;

	padding: 5px 0;

	p 
	{
		font-size: 11px;
		margin: 0;
	}
}

.cart
{
	flex-direction: row;
	justify-content: center;
	width: 85px;

	background: $orange;

	border-radius: 15px;	
	
	i
	{
		font-size: 29px;
		color: #FFF;

		margin-left: -4px;
	    margin-top: 6px;
	    font-size: 29px;
	    padding: 1px;
	}

	p
	{
		width: 46px;
		
		text-align: right;
		color: #FFF;
		line-height: 13px;

		margin-left: -4px;
    	margin-top: 10px;
    	margin-bottom: 4px;
	
		span
		{
			font-size: 24px;
		}
	}
}

.feedback
{
	flex-direction: row;
	justify-content: center;
	max-width: 85px;

	background: #038C38;

	border-radius: 15px;	
	
	i
	{
		font-size: 29px;
		color: #FFF;

		margin-left: 0px;
	    margin-top: 8px;
	    font-size: 29px;
	    padding: 1px;
	}

	p
	{
		width: 53px;
		
		text-align: right;
		color: #FFF;
		line-height: 13px;

		margin-left: -10px;
    	margin-top: 10px;
    	margin-bottom: 9px;
	
		span
		{
			font-size: 24px;
		}
	}
}


/* End Style User Corner*/
/* End Header */



/* Media for screen from 768 to 992 */
@media (max-width: 992px)
{
	body
	{
		background: ghostwhite;	
	}

	.header_nav_menu
	{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
	}
	
}
/* End Media for screen from 768 to 992 */
/* Media for screen from 481 to 768 */
@media (max-width: 768px)
{
	body
	{
		background: aliceblue;	
	}

	.header_nav,
	.currency
	{
		display: none;
	}

	/*Menu Mobile*/
	.menu_mobile
	{
		display: flex;
	}

	.glyphicon-menu-hamburger
	{
		margin-left: 12px;
	}
	/*End Menu Mobile*/
	
}
/* End Media for screen from 481 to 768 */
/* Media for screen to 480 */
@media (max-width: 480px)
{
	body
	{
		background: aliceblue;	
	}

	.user_corner
	{
		min-width: 155px;
	}

	.search,
	.tel
	{
		display: none;
	}	
}
/* End Media for screen to 480 */